!{{{ XFT
Xft.dpi:       96
Xft.antialias: 1
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.rgba:      rgb
!}}}

!{{{ EMACS
!
!Emacs.font: -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
!}}}

!{{{ URXVT
!
! General
urxvt*termName:           rxvt-unicode-256color
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:        true
!urxvt*cursorUnderline:   true
urxvt*urgentOnBell:       true
!urxvt*override-redirect:false
!urxvt*borderLess:       false
!urxvt*internalBorder:       0
!urxvt*externalBorder:       0

! Keycap shit (ctrl+shift)
URxvt.iso14755: true
URxvt.iso14755_52: false

!IBus
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot,None
!
!
! Extensions
urxvt*perl-lib:        /usr/lib/urxvt/perl/
urxvt*perl-ext-common: default,url-select,searchable-scrollback
! url-select
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.urlLauncher:   /usr/bin/xdg-open
URxvt.underlineURLs: true
! Catch ugly URLs
!urxvt*cutchars:        "`\"'()*<>[]{|}"
!
! Appearance
!urxvt*font:     -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
!urxvt*boldFont: -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-i
!urxvt*font:            xft:DejaVu Sans Mono:pixelsize=15\007
urxvt*font:             xft:Envy Code R:pixelsize=17\007
urxvt*italicFont:       xft:Envy Code R:pixelsize=17:antialias=true:italic:autohint=true:hinting=true\007
urxvt*bolditalicFont:   xft:Envy Code R:pixelsize=17:antialias=true:bold:italic:autohint=true:hinting=true\007

!
! Cursor
!urxvt*cursorColor: #DCDCCC
! URLs
urxvt*.colorUL:    #ffffff
! tabs
!URxvt.tabbed.tabbar-fg:1
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    15
!URxvt.tabbed.tab-bg:    0
! Pseudo Transparency
!urxvt*shading:    50
!urxvt*transparent:true
!

! cool colors
!urxvt*foreground: #f2f2f2
!urxvt*background: #101010
!! Normal
!urxvt*color0:    #202020
!urxvt*color1:    #e9897c
!urxvt*color2:    #b6e77d
!urxvt*color3:    #ecebbe
!urxvt*color4:    #a9cdeb
!urxvt*color5:    #ea96eb
!urxvt*color6:    #c9caec
!urxvt*color7:    #f2f2f2
!! Light
!urxvt*color8:    #303030
!urxvt*color9:    #f99286
!urxvt*color10:    #c3f786
!urxvt*color11:    #fcfbcc
!urxvt*color12:    #b6defb
!urxvt*color13:    #fba1fb
!urxvt*color14:    #d7d9fc
!urxvt*color15:    #e2e2e2

!!Daisuke colors
!URxvt*background: #333333
!URxvt*foreground: #dcdccc
!!black
!URxvt*color0: #1e1e1e
!URxvt*color8: #505050
!!red
!URxvt*color1: #b04020
!URxvt*color9: #dd4010
!!green
!URxvt*color2: #afd700
!URxvt*color10: #daff30
!!yellow
!URxvt*color3: #f7cf0a
!URxvt*color11: #fce70d
!!blue
!URxvt*color4: #3060aa
!URxvt*color12: #6099dd
!!magenta
!URxvt*color5: #d6156c
!URxvt*color13: #fe4365
!!cyan
!URxvt*color6: #a0c2de
!URxvt*color14: #c9dee8
!!white
!URxvt*color7: #808080
!URxvt*color15: #b0b0b0

!! Zenburn color-scheme
!!urxvt*background:  #3f3f3f
!urxvt*background:  #1E2320
!urxvt*foreground:  #dcdccc
!! black + red
!!urxvt*color0:     #3f3f3f
!urxvt*color0:      #1E2320
!urxvt*color1:      #705050
!! green + yellow
!urxvt*color2:      #60b48a
!urxvt*color3:      #dfaf8f
!! blue + purple
!urxvt*color4:      #506070
!urxvt*color5:      #dc8cc3
!! cyan + white
!urxvt*color6:      #8cd0d3
!urxvt*color7:      #dcdccc
!! bright-black + bright-red
!urxvt*color8:      #709080
!urxvt*color9:      #dca3a3
!! bright-green + bright-yellow
!urxvt*color10:     #c3bf9f
!urxvt*color11:     #f0dfaf
!! bright-blue + bright-purple
!urxvt*color12:     #94bff3
!urxvt*color13:     #ec93d3
!! bright-cyan + bright-white
!urxvt*color14:     #93e0e3
!urxvt*color15:     #ffffff

!! drop in Solarized colorscheme for Xresources/Xdefaults

!!SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      RGB         HSB
!!--------- ------- ---- -------  ----------- ---------- ----------- -----------
!!base03    #002b36  8/4 brblack  234 #1c1c1c 15 -12 -12   0  43  54 193 100  21
!!base02    #073642  0/4 black    235 #262626 20 -12 -12   7  54  66 192  90  26
!!base01    #586e75 10/7 brgreen  240 #585858 45 -07 -07  88 110 117 194  25  46
!!base00    #657b83 11/7 bryellow 241 #626262 50 -07 -07 101 123 131 195  23  51
!!base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
!!base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
!!base2     #eee8d5  7/7 white    254 #e4e4e4 92 -00  10 238 232 213  44  11  93
!!base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
!!yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
!!orange    #cb4b16  9/3 brred    166 #d75f00 50  50  55 203  75  22  18  89  80
!!red       #dc322f  1/1 red      160 #d70000 50  65  45 220  50  47   1  79  86
!!magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
!!violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
!!blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
!!cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
!!green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
urxvt*background:            S_base03
urxvt*foreground:            S_base00
urxvt*fading:                40
urxvt*fadeColor:             S_base03
urxvt*cursorColor:           S_base1
urxvt*pointerColorBackground:S_base01
urxvt*pointerColorForeground:S_base1
!! black dark/light
urxvt*color0:                S_base02
urxvt*color8:                S_base03
!! red dark/light
urxvt*color1:                S_red
urxvt*color9:                S_orange
!! green dark/light
urxvt*color2:                S_green
urxvt*color10:               S_base01
!! yellow dark/light
urxvt*color3:                S_yellow
urxvt*color11:               S_base00
!! blue dark/light
urxvt*color4:                S_blue
urxvt*color12:               S_base0
!! magenta dark/light
urxvt*color5:                S_magenta
urxvt*color13:               S_violet
!! cyan dark/light
urxvt*color6:                S_cyan
urxvt*color14:               S_base1
!! white dark/light
urxvt*color7:                S_base2
urxvt*color15:               S_base3

!! Font size changing commands
URxvt.keysym.Mod4-C-1:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=13\007
URxvt.keysym.Mod4-C-2:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=15\007
URxvt.keysym.Mod4-C-3:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=16\007
URxvt.keysym.Mod4-C-4:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=18\007
URxvt.keysym.Mod4-C-5:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=19\007
URxvt.keysym.Mod4-C-6:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=21\007
URxvt.keysym.Mod4-C-7:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=22\007
URxvt.keysym.Mod4-C-8:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=23\007
URxvt.keysym.Mod4-C-9:   command:\033]710;xft:DejaVu Sans Mono:pixelsize=24\007

URxvt.keysym.Mod4-C-M-1: command:\033]710;xft:Envy Code R:pixelsize=13\007
URxvt.keysym.Mod4-C-M-2: command:\033]710;xft:Envy Code R:pixelsize=15\007
URxvt.keysym.Mod4-C-M-3: command:\033]710;xft:Envy Code R:pixelsize=17\007
URxvt.keysym.Mod4-C-M-4: command:\033]710;xft:Envy Code R:pixelsize=19\007
URxvt.keysym.Mod4-C-M-5: command:\033]710;xft:Envy Code R:pixelsize=20\007
URxvt.keysym.Mod4-C-M-6: command:\033]710;xft:Envy Code R:pixelsize=21\007
URxvt.keysym.Mod4-C-M-7: command:\033]710;xft:Envy Code R:pixelsize=22\007
URxvt.keysym.Mod4-C-M-8: command:\033]710;xft:Envy Code R:pixelsize=23\007
URxvt.keysym.Mod4-C-M-9: command:\033]710;xft:Envy Code R:pixelsize=24\007


!!}}}


!{{{ XTERM
xterm*internalBorder:        0
xterm*loginShell:         true
xterm*scrollBar:         false
xterm*cursorBlink:       false
!xterm*geometry:         80x26
xterm*saveLines:         65535
xterm*dynamicColors:        on
xterm*highlightSelection: true
! Appearance
xterm*utf8:          2
xterm*eightBitInput: true
!xterm*font:        -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
!xterm*boldFont:    -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-iso8859-2
xterm*font:        xft:Envy Code R:pixelsize=17
xterm*cursorColor: #DCDCCC
!! Zenburn
!xterm*background:  #3f3f3f
!xterm*foreground:  #dcdccc
!xterm*color0:      #1E2320
!xterm*color1:      #705050
!xterm*color2:      #60b48a
!xterm*color3:      #dfaf8f
!xterm*color4:      #506070
!xterm*color5:      #dc8cc3
!xterm*color6:      #8cd0d3
!xterm*color7:      #dcdccc
!xterm*color8:      #709080
!xterm*color9:      #dca3a3
!xterm*color10:     #c3bf9f
!xterm*color11:     #f0dfaf
!xterm*color12:     #94bff3
!xterm*color13:     #ec93d3
!xterm*color14:     #93e0e3
!xterm*color15:     #ffffff
!}}}


!{{{ XLOCK
!XLock.mode:          blank
XLock.mode:         fzort
!XLock.mode:         atunnels
!XLock.icongeometry: 256x256
XLock.username:      user: 
XLock.password:      pass: 
XLock.foreground:    #eee8d5
XLock.background:    #002b36
XLock.description:   false
XLock.echokeys:      false
XLock.echokey:       *
XLock.info:
!XLock.info:         Enter password to unlock \nSelect icon to lock
XLock.validate:      checking...
XLock.invalid:       no checky!
XLock*font:          xft:Envy Code R:pixelsize=17\007
!XLock.ncolors:      200
!XLock.dpmsstandby:  600
!XLock.dpmssuspend:  1200
!XLock.dpmsoff:      1800
!}}}


!{{{ XMAN
Xman*Background:          #3F3F3F
Xman*Foreground:          #F0DFAF
Xman*bothShown:           true
Xman*topBox:              false
Xman*manualFontNormal:    -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
Xman*manualFontBold:      -xos4-terminu.s-bold-*-*-*-12-*-*-*-*-*-iso8859-2
Xman*manualFontItalic:    -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
Xman*directoryFontNormal: -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
!}}}


!{{{ XPDF
xpdf*foreground:     white
xpdf*background:     black
xpdf*urlCommand:     /usr/bin/xdg-open %s
xpdf*antialias:      yes
xpdf*enableFreetype: yes
xpdf*viKeys:         yes
!}}}


!{{{ XCLOCK
xclock*update:     1
xclock*Mode:       analog
xclock*Background: #3F3F3F
xclock*Border:     #3F3F3F
xclock*Foreground: #F0DFAF
xclock*geometry:   120x120+1160+15
!}}}


!{{{ XDIARY
xdiary*geometry:   220x190+1034+15
xdiary*background: #3F3F3F
xdiary*foreground: #F0DFAF
!}}}


!{{{ XMESSAGE
Xmessage*font:                  -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
Xmessage*background:            #3F3F3F
Xmessage*foreground:            #F0DFAF
Xmessage*form.*.shapeStyle:     rectangle
Xmessage*Scrollbar.width:       1
Xmessage*Scrollbar.borderWidth: 0
!Xmessage.form.message.Scroll:  WhenNeeded
Xmessage*Buttons:               Quit
Xmessage*defaultButton:         Quit
!Xmessage*geometry:             +20+20
!}}}


!{{{ XCLIPBOARD
xclipboard.geometry:	  287x195+993+15
XClipboard*international: true
XClipboard*font:          -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
XClipboard*borderColor:	  #3F3F3F
XClipboard*cursorColor:	  Gray93
XClipboard*Foreground:    #F0DFAF
XClipboard*Backgroun..d:    #3F3F3F
XClipboard*form.*.shapeStyle: rectangle
!}}}


!{{{ XCALC
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
!}}}


!{{{ XFONTSEL
XFontSel*menu*showUnselectable:       false
XFontSel*sampleText.background:      TEXTBG
XFontSel*MenuButton.shadowWidth:          0
XFontsel*Toggle*ToggleStyle:          check
XFontsel*MenuButton*Justify:           left
XFontsel*MenuButton*MenuButtonStyle: select
xfontsel*Font: -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
xfontsel.pane.commandBox.quitButton.background:           #777777
xfontsel.pane.commandBox.quitButton.foreground:           snow
xfontsel.pane.commandBox.ownButton.background:            orange3
xfontsel.pane.commandBox.ownButton.foreground:            snow
xfontsel.pane.commandBox.countLabel.background:           snow
xfontsel.pane.viewPort.sampleText.background:             #777777
xfontsel.pane.viewPort.sampleText.foreground:             snow
xfontsel.pane.fieldBox.field0.background:  #777777
xfontsel.pane.fieldBox.field0.foreground:  snow
xfontsel.pane.fieldBox.field1..background:  #777777
xfontsel.pane.fieldBox.field1.foreground:  snow
xfontsel.pane.fieldBox.field2.background:  #777777
xfontsel.pane.fieldBox.field2.foreground:  snow
xfontsel.pane.fieldBox.field3.background:  #777777
xfontsel.pane.fieldBox.field3.foreground:  snow
xfontsel.pane.fieldBox.field4.background:  #777777
xfontsel.pane.fieldBox.field4.foreground:  snow
xfontsel.pane.fieldBox.field5.background:  #777777
xfontsel.pane.fieldBox.field5.foreground:  snow
xfontsel.pane.fieldBox.field6.background:  #777777
xfontsel.pane.fieldBox.field6.foreground:  snow
xfontsel.pane.fieldBox.field7.background:  #777777
xfontsel.pane.fieldBox.field7.foreground:  snow
xfontsel.pane.fieldBox.field8.background:  #777777
xfontsel.pane.fieldBox.field8.foreground:  snow
xfontsel.pane.fieldBox.field9.background:  #777777
xfontsel.pane.fieldBox.field9.foreground:  snow
xfontsel.pane.fieldBox.field10.background: #777777
xfontsel.pane.fieldBox.field10.foreground: snow
xfontsel.pane.fieldBox.field11.background: #777777
xfontsel.pane.fieldBox.field11.foreground: snow
xfontsel.pane.fieldBox.field12.background: #777777
xfontsel.pane.fieldBox.field12.foreground: snow
xfontsel.pane.fieldBox.field13.background: #777777
xfontsel.pane.fieldBox.field13.foreground: snow
xfontsel.pane.fieldBox*foreground:         #000000
xfontsel.pane.fieldBox.MenuButton.borderWidth:   1
xfontsel.pane.fieldBox.MenuB..utton.internalHeight:1
xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
xfontsel.pane.fieldBox.MenuButton.shapeStyle:    rectangle
!}}}


