URxvt*transparent:false
URxvt*tintColor:blue
URxvt*saveLines:12000
URxvt*foreground:White
URxvt*background:Black
URxvt*font:xft:Envy Code R:pixelsize=14
URxvt*color4:RoyalBlue
URxvt*color12:RoyalBlue
URxvt*scrollBar:true
URxvt*scrollBar_right:true
URxvt*scrollstyle:plain
URxvt*cutchars:`"()'*<>[]{|}
URxvt*perl-lib:/usr/lib/urxvt/perl/
URxvt*perl-ext-common:default,matcher
URxvt*matcher.button:1
URxvt*urlLauncher:/usr/bin/xdg-open

